* {
  margin: 0;
  padding: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background: url("bg.jpg");
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#lesmer {
  padding-top: 1rem;
  color: cyan;
}
#lesmer2 {
  color: cyan;
  margin-top: 1.3rem;
}
#lesmer3 {
  color: cyan;
  margin-top: 2.2rem;
}
a {
  color: inherit; /* this makes the link color the same as the text color */
  text-decoration: none; /* this removes the underline */
}
.header{
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem;
  color: white;  

}
.header img {
  max-width: 200px;
  padding: 0px;
  padding-bottom: 0.5rem; 
}
.header p {
  display: flex;
  align-items: center;
}

.headertxt {
  font-size: 1rem;
  width: 100px;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  height: 72px;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconCloud { 
  padding-left: 0.5rem;
}
.iconUser {
  margin-top: 0.6rem;
}
.iconSecurity {
  padding-left: 0.2rem;
  padding-top: 0.6rem;
}

.body1 h1{
  font-size: 5rem;
  color: white;
  text-align: center;
  padding: 3rem;
}
.body1 p {
  font-size: 1rem;
  color: white;
  text-align: center;
  padding: 0rem;
}
.Butten {
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 3rem;
  margin-bottom: 10rem;
  background: linear-gradient(to top,#4e6486, skyblue );
  border-radius: 5px;
  border: none;
  font-size: 1.5rem;
  color: white;
  transition: background 600ms ease;
}

.Butten:hover {
  background: skyblue;
}

.box {
  display: flex;
  justify-content: space-between;
  background-color: #11272e;
  color: white;
  height: 15rem;
  width: 15rem;
  margin-right: 1rem;
  margin-left: 1rem;
  border-radius:10px;
  border: 2px solid #39475e;
  margin-bottom: 10rem;
}
.boxAnsatt{
  justify-content: space-between;
  background-color: #11272e;
  color: white;
  height: 15rem;
  width: 15rem;
  margin-right: 1rem;
  margin-left: 1rem;
  border-radius:10px;
  border: 2px solid #39475e;
  margin-bottom: 10rem;
}
.boxAnsatt p {
  font-size: 1.5rem;
  text-align: center;
}
.boxAnsatt img {
  width: 15rem;
  height: 15rem;
  border-radius: 10px;
  margin: 0;
  padding: 0;
}
.box p {
  display: flex;
  font-size: 0.7rem;
  padding-left: 0.5rem;
  color: gray;
}
.box h1 {
  display: flex;
  margin: 0.5rem;
  font-size: 1rem;
}
.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #11272e;
  color: white;
  height: 15rem;
  margin-top: 10rem;
  padding-right: 9rem;
}
.footer img {
  max-width: 13rem;
}
.footer p {
  display: flex;
  font-size: 0.7rem;
  padding-left: 0.5rem;
  color: gray;
}
.footer h2 {
  display: flex;
  justify-content: flex-start;
  margin: 0.5rem;
  font-size: 1.5rem;
}
.KontaktOss {
  display: flex;
  flex-direction: column;
}
.FølgOss {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
#footertxt {
  margin-top: 1rem;
}
